@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #758bfd;
  --hprimary-color: #2246f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: math;
}

.MainBox:hover .infoBox{
  opacity: 1;
  transform: translateY(0);
}

