@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #758bfd;
  --hprimary-color: #2246f8;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
